@font-face {
	font-family:
		Gotham;
	font-display: swap;
	src:
		url("../fonts/Gotham Pro/gothampro_light.woff2") format("woff2"),
		url("../fonts/Gotham Pro/gothampro_light.woff") format("woff");
	font-weight:
		300;
	font-style: normal;
}

@font-face {
	font-family:
		Gotham;
	font-display: swap;
	src:
		url("../fonts/Gotham Pro/gothampro.woff2") format("woff2"),
		url("../fonts/Gotham Pro/gothampro.woff") format("woff");
	font-weight:
		400;
	font-style: normal;
}

@font-face {
	font-family:
		Gotham;
	font-display: swap;
	src:
		url("../fonts/Gotham Pro/gothampro_medium.woff2") format("woff2"),
		url("../fonts/Gotham Pro/gothampro_medium.woff") format("woff");
	font-weight:
		500;
	font-style: normal;
}

@font-face {
	font-family:
		Gotham;
	font-display: swap;
	src:
		url("../fonts/Gotham Pro/gothampro_bold.woff2") format("woff2"),
		url("../fonts/Gotham Pro/gothampro_bold.woff") format("woff");
	font-weight:
		700;
	font-style: normal;
}

@font-face {
	font-family:
		Gotham;
	font-display: swap;
	src:
		url("../fonts/Gotham Pro/gothampro_black.woff2") format("woff2"),
		url("../fonts/Gotham Pro/gothampro_black.woff") format("woff");
	font-weight:
		900;
	font-style: normal;
}

@font-face {
	font-family:
		Gotham;
	font-display: swap;
	src:
		url("../fonts/Gotham Pro/gothampro_italic.woff2") format("woff2"),
		url("../fonts/Gotham Pro/gothampro_italic.woff") format("woff");
	font-weight:
		normal;
	font-style: italic;
}