[class*="__container"] {
   padding-left: 145px;
   padding-right: 145px;
   margin: 0 auto;
   width: 100%;
   max-width: 1920px;

   @media (min-width: 1670px) and (max-width:1919.98px) {
      @include size_1920_1670 (padding-left, 145, 20);
      @include size_1920_1670 (padding-right, 145, 20);
   }

   @media (max-width:1669.98px) {
      padding-left: 20px;
      padding-right: 20px;
   }
}

[disabled] {
   pointer-events: none;
}

.js-modal-scroll-off {
   overflow: hidden;
}

.swiper {
   max-width: 100%;
}

.swiper-wrapper {
   position: relative;
   z-index: 1;
   display: flex;
   transition-property: transform;

   .swiper-slide {
      flex-shrink: 0;
      height: 100%;
      position: relative;
      transition-property: transform;
      touch-action: pan-y;
   }
}

.block-title {
   margin-bottom: 30px;
   font-size: 44px;
   font-weight: 700;
   color: var(--color-blue-3);
   text-transform: uppercase;

   @media (max-width:991.98px) {
      margin-bottom: 20px;
      font-size: 36px;
   }

   @media (max-width:767.98px) {
      font-size: 30px;
   }
}

.block-text {
   margin-bottom: 20px;
   font-size: 20px;
   line-height: 180%;

   @media (max-width:991.98px) {
      margin-bottom: 10px;
      font-size: 18px;
   }

   @media (max-width:767.98px) {
      font-size: 16px;
   }
}

.scroll::-webkit-scrollbar {
   width: 5px;
   height: 10px;
}

.scroll::-webkit-scrollbar-track {
   border-radius: 5px;
   background-color: var(--color-gray);
}

.scroll::-webkit-scrollbar-thumb {
   background-color: var(--color-gray-2);
   background-clip: content-box;
   border-radius: 5px;
}

.scroll-big::-webkit-scrollbar {
   width: 35px;

   @media (max-width:767.98px) {
      width: 15px;
   }
}

.scroll-big::-webkit-scrollbar-track {
   background-color: var(--color-gray-3);
   border-left: 10px solid var(--color-white);
   border-right: 10px solid var(--color-white);

   @media (max-width:767.98px) {
      border-left: 5px solid var(--color-white);
      border-right: 5px solid var(--color-white);
   }
}

.scroll-big::-webkit-scrollbar-thumb {
   position: relative;
   background: var(--color-blue) linear-gradient(130deg, var(--color-blue-2) 30%, transparent 70%);
   background-clip: content-box;
   border-radius: 5px;

}

.button-blue {
   padding: 10px 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--color-white);
   min-height: 48px;
   text-transform: uppercase;
   font-size: 14px;
   box-shadow: 0px 16px 16px 0px rgba(0, 0, 2, 0.21);
   background: var(--color-blue) linear-gradient(90deg, transparent, var(--color-blue-2), transparent);
   background-size: 200% 100%;
   background-position: 100% 0;
   transition: all 0.3s;

   &:hover {
      background-position: 0% 0;
   }
}

.button-radial-gradient {
   padding: 5px 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 60px;
   color: var(--color-white);
   background: var(--button-bg, #898989) radial-gradient(circle at 23% -100%, var(--button-gr, #ffffff) 0%, transparent 50%);
   background-size: 100% 100%;
   text-transform: uppercase;
   font-size: 22px;
   transition: all 0.3s;

   &:hover {
      background-size: 150% 100%;
   }
}

.button-blue-tabs {
   padding: 10px 15px;
   min-height: 48px;
   text-transform: uppercase;
   font-size: 14px;
   color: var(--color-gray-7);
   border: 1px solid var(--color-gray-7);

   &.active {
      border-color: transparent;
      color: var(--color-white);
      background: var(--color-blue) linear-gradient(90deg, var(--color-blue-2), transparent);
   }
}

.button-grey {
   padding: 5px 20px;
   font-size: 12px;
   text-transform: uppercase;
   background-color: var(--color-gray-4);
   width: 100%;
   min-height: 32px;
   box-shadow: 0px 16px 32px 0px rgba(0, 0, 2, 0.11);
}

.button-grey-2 {
   padding: 10px 15px;
   min-height: 48px;
   text-transform: uppercase;
   border: 1px solid var(--color-blue-3);
   color: var(--color-blue-3);
   background: linear-gradient(55deg, #d1d0d091, #d1d0d0);
}

.hover-gradient {
   position: relative;

   &>* {
      position: relative;
      z-index: 2;
   }

   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, var(--color-blue-2), var(--color-blue));
      opacity: 0;
      transition: opacity 0.2s;
   }

   ._pc &:hover {
      color: var(--color-white);

      &::after {
         opacity: 1;
      }

      path {
         stroke: var(--color-white);
      }

   }
}

.js-modal-hidden {
   display: none;

   &.js-modal-visible {
      display: block;
   }
}

.js-tab-content {
   height: 0;
   overflow: hidden;
   transition: height 0.2s;
}

.hidden-mobile-menu {
   @media (max-width:1099.98px) {
      display: none !important;
   }
}

.check {
   cursor: pointer;
   display: flex;
   align-items: center;

   input {
      display: none;
   }

   &__delete {
      --check-border: var(--color-red);
      --check-selected: var(--color-red);
      --check-text: var(--color-red);
   }
}

.check-item {
   margin-right: 15px;
   display: inline-block;
   position: relative;
   width: 24px;
   min-width: 24px;
   height: 24px;
   border: 1px solid var(--check-border, #12a4cb);

   svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 14px;
      max-width: 14px;
      display: none;

      path {
         stroke: var(--check-selected, #12a4cb);
      }
   }

   input:checked+& svg {
      display: block;
   }
}

.check-text {
   font-size: 14px;
   color: var(--check-text, #5a5140);
}

.add-file {
   display: flex;
   align-items: center;
   flex-direction: column;
   min-height: 44px;
   border: 1px solid var(--color-gray-2);
   max-width: 915px;

   @media (min-width:768px) {
      flex-direction: row;
   }

   img {
      margin-left: 10px;
      margin-right: 10px;
      height: 22px;

      @media (min-width:768px) {
         margin-left: 25px;
         margin-right: 25px;
      }
   }

   input {
      display: none;
   }

   &__text {
      flex: 1 1 auto;
      min-height: 44px;
      display: flex;
      align-items: center;
      color: var(--color-gray-5);
      //   text-overflow: ellipsis;
      //   overflow: hidden;
      //   white-space: nowrap;
   }

   &__button {
      border-left: 1px solid var(--color-gray-2);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      @media (min-width:768px) {
         flex: 0 0 300px;
      }
   }

   &__block {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
   }

}

.input-text {
   display: flex;
   align-items: center;
   margin-bottom: 25px;
   position: relative;
   padding: 15px;
   min-height: 64px;
   color: var(--color-gray-2);
   font-size: 16px;
   border: 1px solid var(--color-gray-2);
   width: 100%;

   input {
      font-size: inherit;
      color: inherit;
   }

   .input-placeholder {
      pointer-events: none;
      padding: 15px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      color: transparent;
      display: none;

      span {
         color: var(--color-red);
      }
   }

   input:placeholder-shown+.input-placeholder {
      display: flex;
   }
}

.textarea {
   padding: 15px;
   width: 100%;
   height: 210px;
   resize: none;
   color: var(--color-gray-2);
   font-size: 16px;
   border: 1px solid var(--color-gray-2);
}