:root {
   --color-white: #ffffff;
   --color-black: #000000;
   --color-blue: #0e81b2;
   --color-blue-2: #13add2;
   --color-blue-3: #0d77ab;
   --color-blue-4: #357ab8;
   --color-blue-5: #088fcb;
   --color-Water-blue: #246584;
   --color-pacific-blue: #12a4cb;
   --color-periwinkle-crayola: #c4d3e6;
   --color-gray: #cccccc;
   --color-gray-2: #898989;
   --color-gray-3: #e7e7e7;
   --color-gray-4: #dcdcdc;
   --color-light-telegraph: #c9c9c9;
   --color-cyanide: #1aedfe;
   --color-red: #ff3e2a;
   --color-coral: #ffbbb6;
   --color-background-hover: rgba(0, 0, 0, 0.4);
}