.account {
   padding-bottom: 100px;
   overflow: hidden;

   li {
      list-style: none;
   }

   &__container {}

   &__body {
      padding-top: 25px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;

      @media (min-width:1200px) {
         flex-wrap: nowrap;
      }
   }

   &__side {
      flex: 1 1 auto;
      background-color: var(--color-white);
      box-shadow: 0px 22px 90px 0px rgba(0, 0, 0, 0.08);
      order: 1;

      @media (min-width:1200px) {
         flex: 0 0 436px;
      }

      @media (min-width:1200px) and (max-width: 1669.98px) {
         @include size_1670_1100_flex(0, 0, 436, 300)
      }
   }

   &__nav-title {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 15px;
      text-transform: uppercase;
      color: var(--color-blue-4);
      font-size: 20px;
      font-weight: 700;

      img {
         width: 36px;
      }
   }

   &__subtitle {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      text-transform: uppercase;
      background-color: var(--color-blue-4);
      color: var(--color-white);
      font-size: 20px;
      font-weight: 700;

      img {
         width: 36px;
      }
   }

   &__links {
      li {
         padding-left: 60px;

         &:not(:last-child) {
            border-bottom: 1px solid var(--color-light-telegraph);
         }
      }

      a {
         display: block;
         padding: 10px 10px 10px 0px;
         font-size: 16px;
         color: var(--color-blue-4);

         span {
            color: var(--color-black);
            font-weight: 700;
         }
      }
   }

   &__manager {
      padding: 10px;
   }

   &__manager-body {
      padding: 25px;
      display: grid;
      grid-template-columns: 60px 1fr;
      gap: 10px;
      background-color: var(--color-blue-4);
      border-radius: 10px;
      overflow: hidden;
      color: var(--color-white);
      font-size: 16px;

      p {
         margin-bottom: 5px;
      }
   }


   &__manager-foto {
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__manager-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__manager-name {
      font-size: 20px;
      font-weight: 700;
   }

   &__icon {
      text-align: center;

      img {
         width: 22px;
      }
   }

   &__content {
      flex: 1 1 100%;
      padding-top: 50px;
      order: 3;

      @media (min-width:1200px) {
         order: 2;
         flex: 1 1 auto;
      }
   }

   &__title {
      position: relative;
      margin-bottom: 35px;
      padding: 50px 0;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      color: var(--color-blue-4);

      @media (min-width:768px) {
         font-size: 43px;
      }

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: -100vw;
         z-index: -1;
         width: 200vw;
         height: 100%;
         background-color: var(--color-gray-3);
      }
   }

   &__sections {
      display: grid;
      grid-template-columns: 1fr;
      gap: 35px;

      @media (min-width:1300px) {
         grid-template-columns: 1fr 1fr;
      }
   }

   &__sections-list {
      display: flex;
      flex-direction: column;
      background-color: var(--color-white);
      font-size: 16px;
      box-shadow: 0px 22px 90px 0px rgba(0, 0, 0, 0.08);
   }

   &__sections-list-body {
      flex: 1 1 auto;
      padding: 15px 10px;
   }

   &__sections-list-title {
      text-transform: uppercase;
      font-weight: 700;
      color: var(--color-blue-3);
   }

   &__sections-list-item {
      padding: 10px 0;

      &:not(:last-child) {
         border-bottom: 1px solid var(--color-blue-7);
      }

      span {
         font-weight: 700;
      }
   }

   &__sections-list-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: var(--color-blue-3);
      color: var(--color-white);
      font-size: inherit;
   }

   &__data {
      flex: 0 0 274px;
      order: 2;

      @media (min-width:1200px) {
         order: 3;
      }

      .button-blue {
         margin-bottom: 6px;
         width: 100%;
      }
   }

   &__button-video {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 15px;
      font-size: 14px;
      min-height: 46px;
      border: 1px solid var(--color-blue-3);
      background-color: var(--color-gray-3);
      color: var(--color-blue-3);
      box-shadow: 0px 16px 16px 0px rgba(0, 0, 2, 0.21);
   }

   &__text {
      margin-bottom: 25px;
      font-size: 16px;
      font-weight: 700;
      line-height: 130%;

      @media (min-width:768px) {
         font-size: 18px;
      }
   }

   &__search {
      margin: 0 auto 30px;
      position: relative;
      border: 1px solid var(--color-blue);
      max-width: 665px;

      input {
         padding-left: 10px;
         padding-right: 75px;
         height: 45px;
         width: 100%;
         font-size: 16px;
      }

      button {
         position: absolute;
         top: 50%;
         right: 25px;
         transform: translateY(-50%);
      }
   }

   &__filter {
      margin-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 6px;

      button {
         flex: 1 1 auto;
         padding: 4px;
         min-height: 64px;
         width: min-content;
         font-size: 16px;
         color: var(--color-white);
         border: 1px solid var(--color-light-telegraph);
      }
   }

   &__filter-icon {}


   .white {
      color: var(--color-black);
      background-color: var(--color-white);
   }

   .yellow {
      background-color: var(--color-yellow);
   }

   .turquoise {
      background-color: var(--color-turquoise);
   }

   .dark-turquoise {
      background-color: var(--color-dark-turquoise);
   }

   .pink {
      background-color: var(--color-pink);
   }

   .green {
      background-color: var(--color-indian-green);
   }

   .blue {
      background-color: var(--color-blue-3);
   }

   .orange {
      background-color: var(--color-orange);
   }

   &__order-table {
      margin-bottom: 25px;
      border: 1px solid var(--color-light-telegraph);
      box-shadow: 0px 22px 90px 0px rgba(0, 0, 0, 0.08);
   }

   &__order-table-body {
      display: grid;
      grid-template-columns: 1fr;

      @media (min-width:768px) {
         grid-template-columns: 1fr 1fr 1fr;
      }
   }

   &__order-table-header {
      padding: 10px;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--color-white);
      border-bottom: 1px solid var(--color-light-telegraph);

      @media (max-width:767.98px) {
         &:nth-child(1) {
            order: 1;
         }

         &:nth-child(2) {
            order: 3;
         }

         &:nth-child(3) {
            order: 5;
         }
      }

      @media (min-width:768px) {
         padding: 15px 20px;
         font-size: 20px;
      }
   }

   &__order-table-cell {
      padding: 20px;

      &:nth-child(4) {
         order: 2;
      }

      &:nth-child(5) {
         order: 4;
      }

      &:nth-child(6) {
         order: 6;
      }

      p,
      a {
         color: var(--color-blue-4)
      }

      a {
         display: inline-block;
         text-decoration: underline;
         text-decoration-color: var(--color-periwinkle-crayola);

         &::after {
            content: "⭣";
            margin-left: 5px;
         }
      }

      p {
         margin-bottom: 15px;
      }
   }

   &__order-table-annotation {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-left: 20px;
      margin-right: 20px;
      border-top: 1px dashed var(--color-light-blue);
      color: var(--color-light-blue);


   }

   &__order-table-action {
      padding: 20px;
      background-color: var(--color-grideperlevy);
      color: var(--color-blue-4);

      button,
      a {
         margin-bottom: 5px;
         display: block;
         text-decoration: underline;
         text-decoration-color: var(--color-periwinkle-crayola);
         color: inherit;
         font-size: 16px;
         text-align: start;

         &::after {
            content: "⭢";
            margin-left: 5px;
         }
      }
   }

   &__document-buttons {
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      gap: 5px;
      flex-wrap: wrap;
   }

   &__document-button {

      padding: 5px;
      min-height: 63px;
      width: min-content;
      font-size: 16px;
      font-weight: 300;
      border: 1px solid var(--color-light-telegraph);
      transition: color 0.2s, background-color 0.2s;

      &:hover,
      &.active {
         color: var(--color-white);
         background-color: var(--color-blue-4);
      }
   }

   &__document-title {
      margin-bottom: 25px;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--color-blue-4);
   }

   &__document-content {
      display: none;

      &.active {
         display: block;
      }
   }

   &__document-list-title {
      padding: 15px 10px;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--color-white);
      background-color: var(--color-blue-4);

      @media (min-width:768px) {
         padding: 28px 20px;
         font-size: 20px;
      }
   }

   &__document-list-item {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      color: var(--color-blue-4);
      border-bottom: 1px solid var(--color-light-telegraph);
      border-left: 1px solid var(--color-light-telegraph);
      border-right: 1px solid var(--color-light-telegraph);

      @media (min-width:768px) {
         padding: 15px 20px;
      }

      a {
         padding: 6px 10px;
         display: block;
         font-size: inherit;
      }
   }

   &__document-table-scroll {
      @media (max-width:619.98px) {
         max-width: calc(100vw - 20px);
         overflow-y: hidden;
         overflow-x: auto;
      }
   }

   &__document-table {
      display: grid;
      grid-template-columns: 0.5fr 0.4fr 1fr 40px;
      width: 580px;

      @media (min-width:620px) {
         width: auto;
      }
   }

   &__document-table-header {
      padding: 10px;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--color-white);
      background-color: var(--color-blue-4);

      @media (min-width:768px) {
         padding: 20px;
         font-size: 20px;
      }
   }

   &__document-table-cell {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      min-height: 60px;
      font-size: 18px;
      color: var(--color-blue-4);

      &:nth-child(n + 5) {
         border-bottom: 1px solid var(--color-light-telegraph);
      }

      &:nth-child(4n + 5) {
         border-left: 1px solid var(--color-light-telegraph);
      }

      &:nth-child(4n + 4) {
         border-right: 1px solid var(--color-light-telegraph);
      }
   }

   &__info-title {
      margin-bottom: 25px;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      color: var(--color-blue-4);

      @media (min-width:768px) {
         font-size: 24px;
      }
   }

   &__info {
      margin-bottom: 30px;
      box-shadow: 8px 8px 27px 1px rgba(19, 85, 102, 0.24);
   }

   &__info-block {
      border: 1px solid var(--color-gray-4);
      font-size: 16px;
      color: var(--color-blue-4);

      @media (min-width:768px) {
         font-size: 18px;
      }

      &.active {
         .account__info-button {
            img {
               transform: rotate3d(1, 0, 0, 180deg);
            }
         }
      }
   }

   &__info-link,
   &__info-button {
      padding: 15px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      cursor: pointer;
      line-height: 130%;

      @media (min-width:768px) {
         padding: 25px 20px;
      }

      svg,
      img {
         height: 16px;
         transition: transform 0.3s;
      }
   }

   &__info-content {
      height: 0;
      overflow: hidden;
      transition: height 0.3s;
   }

   &__content-inner {
      padding: 0px 10px 10px;
      line-height: 130%;
      font-size: 0.875em;

      @media (min-width:768px) {
         padding: 0px 20px 20px;
      }
   }

   &__request {
      padding-top: 15px;
      margin-bottom: 50px;
   }

   &__request-date {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
   }

   &__request-button {

      text-align: center;
   }

   &__request-table-title {
      margin-bottom: 30px;
      font-size: 20px;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--color-blue-4);

      @media (min-width:768px) {
         font-size: 24px;
      }

      @media (min-width:992px) {
         font-size: 36px;
      }
   }

   &__request-table {
      display: grid;
      grid-template-columns: 0.5fr 1fr 40px;
      box-shadow: 8px 8px 27px 1px rgba(19, 85, 102, 0.24);

   }

   &__request-table-header {
      padding: 10px;
      font-size: 16px;
      font-weight: 700;
      color: var(--color-white);
      text-transform: uppercase;
      background-color: var(--color-blue-4);

      @media (min-width:768px) {
         font-size: 20px;
      }
   }

   &__request-table-cell {
      display: flex;
      align-items: center;
      color: var(--color-blue-4);
      padding: 10px;
      font-size: 14px;
      min-height: 60px;
      border-bottom: 1px solid var(--color-gray-4);

      @media (min-width:768px) {
         font-size: 18px;
      }

      &:nth-child(3n + 4) {
         border-left: 1px solid var(--color-gray-4);
      }

      &:nth-child(3n + 6) {
         border-right: 1px solid var(--color-gray-4);
      }

      button {
         font-size: inherit;
         color: inherit;
      }
   }
}

.datepicker {
   padding: 10px;

   background-color: #ffffff;
   box-shadow: 0px 3px 34.65px 0.35px rgba(0, 0, 0, 0.11);

   &__designations {
      padding-top: 30px;
   }

   &__designations-item {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__designations-example {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      min-width: 30px;
      color: var(--color-white);
      font-size: 16px;
      background: linear-gradient(90deg, var(--color-left) 50%, var(--color-right) 50%);
   }

   &__designations-description {}

}


.completed {
   --color-left: var(--color-indian-green);
   --color-right: var(--color-blue-4);
   --color-number: var(--color-white);
}

.in-production {
   --color-left: var(--color-yellow);
   --color-right: var(--color-turquoise);
   --color-number: var(--color-white);
}

.ready {
   --color-left: var(--color-pink);
   --color-right: var(--color-orange);
   --color-number: var(--color-white);
}

.ready-payment {
   --color-left: var(--color-pink);
   --color-right: var(--color-yellow);
   --color-number: var(--color-white);
}

.shipped {
   --color-left: var(--color-indian-green);
   --color-right: var(--color-blue-4);
   --color-number: var(--color-white);
}

.shipped-payment {
   --color-left: var(--color-indian-green);
   --color-right: var(--color-dark-turquoise);
   --color-number: var(--color-white);
}

.finished {
   --color-left: var(--color-indian-green);
   --color-right: var(--color-indian-green);
   --color-number: var(--color-white);
}

.date {
   min-width: 250px;

   &__title {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--color-blue-4);
   }

   &__body {
      position: relative;
      height: 30px;
      border: 1px solid var(--color-gray-3);

      input {
         width: 100%;
         height: 100%;
         padding-left: 10px;
         padding-right: 10px;
         color: var(--color-blue-4);
      }

      input[type="date"] {
         padding-right: 0;

         &::-webkit-calendar-picker-indicator {
            cursor: pointer;
            height: 25px;
            width: 25px;
            background-image: url('../img/svg/date.svg');
            background-size: 22px 22px;
            background-position: center;
            border-left: 1px solid var(--color-gray-3);
         }
      }
   }
}

.data-input {
   &__form {
      margin-right: 40px;
      max-width: none;

      @media (min-width:1200px) {
         margin-right: 60px;
         max-width: 560px;
      }
   }

   &__title {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 300;
      color: var(--color-gray-7);
      text-transform: uppercase;
   }

   &__body {
      position: relative;
      margin-bottom: 15px;

      &>input {
         padding: 0 20px;
         height: 52px;
         width: 100%;
         border: 1px solid var(--color-gray-7);
         color: var(--color-gray-7);
         font-weight: 700;
         font-size: 18px;
         pointer-events: none;

         &:focus {
            pointer-events: all;

            &+.data-input__edit {
               display: none;
            }
         }

         &:invalid {
            pointer-events: all;

            &+.data-input__edit {
               display: none;
            }
         }
      }

      input[type="date"] {
         &::-webkit-calendar-picker-indicator {
            cursor: pointer;
            height: 30px;
            width: 30px;
            background-image: url('../img/svg/date.svg');
            background-size: 30px 30px;
            background-position: center;
         }
      }
   }

   &__edit {
      position: absolute;
      top: 50%;
      right: -40px;
      transform: translateY(-50%);

      @media (min-width:1200px) {
         right: -60px;
      }

      img {
         width: 25px;

         @media (min-width:768px) {
            width: 32px;
         }
      }
   }

   &__hidden,
   &__visible {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);

      img {
         width: 30px;
      }
   }

   &__submit {
      margin-bottom: 30px;
      text-align: center;

      button {
         min-width: 100%;

         @media (min-width:768px) {
            min-width: 300px;
         }
      }
   }

   &__send {
      button {
         min-width: 100%;

         @media (min-width:768px) {
            min-width: 300px;
         }
      }
   }

   &__buttons {
      display: flex;
      justify-content: space-around;
      gap: 30px;
      flex-wrap: wrap;

      button {
         display: flex;
         align-items: center;
         gap: 10px;
         color: var(--color-gray-7);
         font-weight: 700;
         height: 32px;
      }
   }

   &__explanation {
      margin-bottom: 25px;
      color: var(--color-gray-7);
      font-weight: 700;
      line-height: 150%;
   }

   &__file {
      margin-bottom: 40px;
      display: flex;
      gap: 10px;

      input[type="file"] {
         display: none;
      }
   }

   &__file-icon {

      svg,
      img {
         width: 32px;
      }
   }

   &__file-text {
      p {
         margin-bottom: 5px;
         font-size: 18px;
         font-weight: 700;
      }

      span {
         font-size: 16px;
         line-height: 120%;
         font-style: italic;
      }
   }

   &__identically {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      gap: 5px;

      @media (min-width:1200px) {
         margin-right: -100px;
         position: absolute;
         top: 50%;
         left: calc(100% + 5px);
         transform: translateY(-50%);
         justify-content: flex-start;
      }

      input {
         display: none;

         &:checked+.data-input__identically-check::after {
            display: block;
         }
      }

      @media (min-width:768px) {
         right: -60px;
      }
   }

   &__identically-check {
      position: relative;
      width: 17px;
      min-width: 17px;
      height: 17px;
      border: 1px solid var(--color-periwinkle-crayola);

      &::after {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         width: 100%;
         height: 100%;
         transform: translate(-50%, -50%);
         background: url('../img/svg/arrow-12.svg') center / 10px 10px no-repeat;
         display: none;
      }
   }

   &__identically-text {
      font-size: 14px;
      color: var(--color-gray-7);
   }

   input[type="password"]~.data-input__hidden {
      display: none;
   }

   input[type="text"]~.data-input__visible {
      display: none;
   }
}