.contacts {
   margin-bottom: 150px;

   &__body {
      display: flex;
      justify-content: space-between;

      @media (max-width:1299.98px) {
         display: block;
      }
   }

   &__left {
      flex: 0 0 750px;

      @media (max-width:1299.98px) {
         width: 100%;
      }
   }

   &__buttons {
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      gap: 20px;

      button {
         padding: 10px 25px;
         font-size: 24px;
         min-height: 72px;
         color: var(--color-blue-5);
         border: 1px solid var(--color-blue-5);

         @media (max-width:991.98px) {
            padding: 10px;
            font-size: 18px;
         }
      }
   }

   &__group {
      margin-bottom: 35px;
   }

   &__group-title {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 700;
   }

   &__item {
      display: flex;
      align-items: center;
      gap: 25px;
      line-height: 137%;

      &:not(:last-child) {
         margin-bottom: 40px;
      }

      @media (max-width:991.98px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
      }
   }

   &__item-image {
      flex: 0 0 198px;
   }

   &__item-image-body {
      position: relative;
      padding-bottom: 76.5%;
      overflow: hidden;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__item-address {
      padding-right: 15px;
      border-right: 1px solid var(--color-blue-5);

      @media (max-width:991.98px) {
         border: none;
      }

      @media (max-width:767.98px) {
         font-size: 12px;
      }

      a {
         color: var(--color-blue-4);
         text-decoration: underline;
         text-decoration-color: var(--color-periwinkle-crayola);
         text-underline-offset: 5px;
      }
   }

   &__item-address-city {
      font-weight: 700;
   }

   &__item-phone {
      padding-right: 15px;
      font-weight: 700;
      border-right: 1px solid var(--color-blue-5);
      white-space: nowrap;

      @media (max-width:991.98px) {
         border: none;
      }

      @media (max-width:767.98px) {
         font-size: 12px;
      }
   }

   &__item-mail {
      font-weight: 400;
   }

   &__item-networks {
      margin-top: 5px;
      display: flex;
      gap: 10px;

      a {
         width: 27px;

         img {
            width: 100%;
         }
      }
   }

   &__item-see {
      max-width: 110px;

      button {
         text-align: start;
      }

      img {
         margin-bottom: 10px;
         width: 47px;
         height: 47px;
      }

      span {
         display: block;
         font-weight: 700;
      }
   }


   &__right {
      flex: 0 1 750px;
   }

   &__region {
      margin: 0 auto 60px;
      position: relative;
      width: 100%;
      max-width: 500px;

      &.open .contacts__region-menu {
         height: 250px;
      }
   }

   &__region-button {
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 62px;
      width: 100%;
      font-size: 20px;
      border: 1px solid var(--color-gray-2);

      @media (max-width:767.98px) {
         padding: 10px;
         font-size: 16px;
      }

      img {
         width: 16px;
      }
   }

   &__region-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 0;
      background-color: var(--color-white);
      box-shadow: 0px 16px 16px 0px rgba(0, 0, 2, 0.21);
      overflow-y: auto;
      overflow-x: hidden;
      transition: height 0.2s;



      ol {

         list-style: none;
      }

      a,
      button {
         font-size: 20px;
         padding: 10px 20px;
         width: 100%;
         text-align: start;

         @media (max-width:767.98px) {
            font-size: 16px;
         }

         &:hover {
            background-color: var(--color-blue-5);
            color: var(--color-white);
         }
      }
   }

   &__map {
      margin: 0 auto 45px;
      position: relative;
      padding-bottom: 55%;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

   }

   &__connection {
      margin-bottom: 70px;
      text-align: center;
   }

   &__requisites {
      padding: 15px 25px;
      border: 1px solid var(--color-gray-2);
   }

   &__requisites-title {
      margin-bottom: 20px;
      font-size: 20px;
   }

   &__requisites-block {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      @media (max-width:767.98px) {
         display: block;
      }
   }

   &__requisites-text {
      flex: 0 1 440px;
      line-height: 150%;

      @media (max-width:767.98px) {
         font-size: 14px;
         margin-bottom: 20px;
      }

      span {
         font-weight: 700;
      }
   }

   &__requisites-button {
      flex: 0 1 148px;

      a {
         display: block;
         padding: 30px 20px;
         color: var(--color-white);
         text-align: center;
         line-height: 150%;
         background: var(--color-blue) radial-gradient(circle at 0% 0%, var(--color-blue-2), transparent);

         img {
            margin-bottom: 10px;
         }
      }
   }

}